*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height:100svh; 
    font-family: sans-serif;
    
}

a,li{
    text-decoration: none;
    color: #eee;

}
li{
    width: 100%;

}
ul {
    list-style: none;
    width: 100%;

}


.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 1rem;
}
.header .smhi__logo {
    display: block;
    filter: invert();
    margin: 1rem;

}

.sidebar_right{
    background: rgba(0 , 0, 0, .5);
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0,-50%);
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;
    border-radius: .3rem;
    min-width: 10rem;
    min-height: 15rem;
    text-transform: capitalize;
    font-size: 1.2rem;

}
.sidebar_right .title {
    color: #eee;
    margin: 1rem;
    font-size: 1.4rem;

}
.sidebar_right .sidebar__menu-child {
    padding:1rem;
}
.sidebar_right .sidebar__menu-child .sub_title {
    font-size: 1.3rem;
}
.sidebar__scale{
    background: #eee;
    z-index: 2;
    width: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sidebar__scale aside {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    background-color: brown;
    height: 2rem;
    text-align: center;
}

#map {
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    z-index: 1;
    position: absolute;
}

#myCanvas{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

